/nbproject/private/
/.lib/
/.obj/
/bin/

# Linux binaries
VVASE
vvase.rc

# Other VVASE-specific logs
VVASEdebug.log

# MSVC++-specific ignores
*/Debug/
/Debug/
*/Release/
/Release/
/ipch/
*.sdf
*.opensdf
*.user
*.suo
/vUtilities/.obj/
*.bak
*.swp
