/*===================================================================================
                                    CarDesigner
                         Copyright Kerry R. Loux 2008-2009

     No requirement for distribution of wxWidgets libraries, source, or binaries.
                             (http://www.wxwidgets.org/)

===================================================================================*/

// File:  CarDesigner.rc
// Created:  3/23/2008
// Author:  K. Loux
// Description:  Defines all of the resources for the application (icons, graphics, etc.)
// History:

// Main application icon (MUST be first alphabetically)
ICON_ID_MAIN			ICON		"res\\icons\\aavase.ico"

// System tree icons
ICON_ID_CAR				ICON		"res\\icons\\car.ico"
ICON_ID_AERODYNAMICS	ICON		"res\\icons\\aero.ico"
ICON_ID_BRAKES			ICON		"res\\icons\\brakes.ico"
ICON_ID_DRIVETRAIN		ICON		"res\\icons\\drivetrain.ico"
ICON_ID_ENGINE			ICON		"res\\icons\\engine.ico"
ICON_ID_MASS_PROPS		ICON		"res\\icons\\mass_properties.ico"
ICON_ID_SUSPENSION		ICON		"res\\icons\\suspension.ico"
ICON_ID_TIRES			ICON		"res\\icons\\tires.ico"

ICON_ID_ITERATION		ICON		"res\\icons\\iteration.ico"
ICON_ID_OPTIMIZATION	ICON		"res\\icons\\optimization.ico"

ICON_ID_PERSPECTIVE		ICON		"res\\icons\\perspective.ico"
ICON_ID_ORTHO			ICON		"res\\icons\\ortho.ico"

// wxWidgets definitions
#define wxUSE_NO_MANIFEST 1

// wxWidgets resource files (MUST come at the end of the list)
#include <wx\msw\wx.rc>