/*=============================================================================
                                     VVASE
                        Copyright Kerry R. Loux 2007-2017
=============================================================================*/

// File:  vvase.rc
// Date:  3/23/2008
// Auth:  K. Loux
// Lics:  GPL v3 (see https://www.gnu.org/licenses/gpl-3.0.en.html)
// Desc:  Defines all of the resources for the application (icons, graphics, etc.)

// Main application icon (MUST be first alphabetically)
ICON_ID_MAIN			ICON		"res\\icons\\aavase.ico"

// System tree icons
ICON_ID_CAR				ICON		"res\\icons\\car.ico"
ICON_ID_AERODYNAMICS	ICON		"res\\icons\\aero.ico"
ICON_ID_BRAKES			ICON		"res\\icons\\brakes.ico"
ICON_ID_DRIVETRAIN		ICON		"res\\icons\\drivetrain.ico"
ICON_ID_ENGINE			ICON		"res\\icons\\engine.ico"
ICON_ID_MASS_PROPS		ICON		"res\\icons\\mass_properties.ico"
ICON_ID_SUSPENSION		ICON		"res\\icons\\suspension.ico"
ICON_ID_TIRES			ICON		"res\\icons\\tires.ico"

ICON_ID_SWEEP			ICON		"res\\icons\\iteration.ico"
ICON_ID_OPTIMIZATION	ICON		"res\\icons\\optimization.ico"

ICON_ID_PERSPECTIVE		ICON		"res\\icons\\perspective.ico"
ICON_ID_ORTHO			ICON		"res\\icons\\ortho.ico"

// wxWidgets definitions
#define wxUSE_NO_MANIFEST 1

// wxWidgets resource files (MUST come at the end of the list)
#include <wx\msw\wx.rc>
